streamlit==1.32.0
youtube-transcript-api==0.6.2
pytube==15.0.0
openai-whisper==20231117
ffmpeg-python==0.2.0
validators==0.22.0
torch>=2.2.0
numpy>=1.24.3
moviepy==1.0.3
SpeechRecognition==3.10.0
pydub==0.25.1
setuptools>=65.5.1
wheel>=0.38.4
requests>=2.31.0
urllib3>=2.0.7
certifi>=2023.7.22 